@CHARSET "UTF-8";
body{
	width: 100%;
	background: #CCCCFF;
	margin: auto auto;
}

i {
	color: white;
}

#header{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 110px;
	width: 100%;
	color: #ffffff;
	box-sizing: border-box;
	top: -100px;
	display: flex;
    align-items: center;
  

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
	font: normal 38px Cookie, Arial, Helvetica, sans-serif;
}

h1{
	font: normal 38px Cookie, Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin-right: 300px;
}

h2{
	background-color:#003366;
	padding: 5px;
	color: #ffffff;
}

form {
	margin-bottom:0;
}

#lista tr{
	font: normal 18px Cookie, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

td {	
	font-size: 12px;
}

#reglogintable{
	box-shadow:0 1px 1px #ccc;
	border: 1px solid rgb(100,100,100);
	background: #C0C0C0;
	margin: auto;
	margin-top: 20px;
	width: 400px;
	
}
#login{
	vertical-align: top;
}

nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 20px;
	float: right;
}

nav a{
	display: inline-block;
	padding: 0 5px 0 0;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}
.new-book {
	margin-top: 20px;
	margin-left: 10px;
}
.new-book a {	
	font:16px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: black;
}
#content{
	background: #C0C0C0;
	border: 1px solid rgb(100,100,100);
	min-height: 50px;
	margin-top: 20px;
	padding: 20px;
}

.center {
	margin: auto;
	align: center;
}

#footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 20px;
	box-sizing: border-box;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	font: normal 16px sans-serif;
	position: fixed;
    bottom: 0;

	padding: 45px 50px;
	margin-top: 80px;
}

#footer p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
.btn-link{
  	border:none;
  	outline:none;
  	background:none;
	text-decoration:none;	
}